<div
  style="
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.8;
    background-color: #172d2a;
    color: #e0e0e0;
  "
>
  <!-- Content area -->
  <header style="margin-bottom: 30px">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/rdia-33ace.firebasestorage.app/o/template%2Fheader.png?alt=media"
      alt="Banner"
      style="
        display: block;
        max-width: 100%;
        width: 600px;
        height: auto;
        margin: 0px;
      "
    />
  </header>

  <!-- Arabic Section -->
  <div
    style="
      margin-bottom: 20px;
      border-bottom: 1px solid #444;
      padding-bottom: 20px;
    "
    dir="rtl"
    lang="ar"
  >
    <p style="margin: 0px; font-size: 12px; color: #60a873">
      السيد/السيدة تحية طيبة
    </p>
    <div style="height: 20px"></div>

    <p style="font-size: 12px">
      نثمن لكم تعهدكم بمشاركتنا جهود تحقيق مستهدفات أولوية استدامة البيئة
      والاحتياجات الأساسية، ونؤمن بأهمية الشراكة والتعاون لمعالجة التحديات
      البيئية العاجلة، وتوفير حلول تضمن استدامة المياه والغذاء.
    </p>
    <br />

    <p style="font-size: 12px">
      نسعد بنشركم لصورة التعهد عبر منصة إكس من خلال الوسم التالي:
      <strong style="color: #60a873">#كوب16_الرياض</strong>
    </p>
    <br />

    <strong
      style="
        color: #60a873;
        font-size: 14px;
        text-align: start;
        display: block;
        margin: 20px 0;
      "
    >
      الابتكار من أجل مستقبل مستدام
    </strong>
    <div style="height: 20px"></div>
  </div>

  <!-- English Section -->
  <div
    style="
      margin-bottom: 20px;
      border-bottom: 1px solid #444;
      padding-bottom: 20px;
    "
  >
    <p style="margin: 0px; font-size: 12px; color: #60a873">Dear,</p>
    <p style="font-size: 12px; margin: 0; color: #60a873">
      UserName Greetings!
    </p>
    <div style="height: 20px"></div>

    <p style="font-size: 12px">
      We value your commitment to joining us in our efforts to achieve the
      national priority of RDI sector in the kingdom for Sustainable Environment
      and Supply of Essential Needs. We believe in the importance of partnership
      and collaboration to address urgent environmental challenges and provide
      solutions that ensure the sustainability of water and food.
    </p>
    <br />

    <p style="font-size: 12px">
      We would be delighted if you could share a picture of the pledge on
      platform X or LinkedIn using the following hashtag:
      <strong style="color: #60a873">#COP16_Riyadh</strong>
    </p>
    <br />

    <strong
      style="
        color: #60a873;
        font-size: 14px;
        text-align: start;
        display: block;
        margin: 20px 0;
      "
    >
      "Innovating for a Sustainable Tomorrow"
    </strong>
    <div style="height: 20px"></div>
  </div>

  <!-- Website Link -->
  <p style="text-align: start; margin-top: 20px; font-size: 12px">
    For more information and details on the conference program and related
    events, please visit our website:
  </p>
  <a
    href="https://sustainability-innovation-week.com"
    style="
      display: block;
      text-align: start;
      margin-top: 20px;
      font-size: 12px;
      color: #60a873;
      text-decoration: none;
    "
  >
    Sustainability Innovation
  </a>

  <div style="height: 30px"></div>

  <!-- User Card -->

  <table
    cellpadding="0"
    cellspacing="0"
    border="0"
    width="100%"
    style="background-color: #128d5b; color: white; border-radius: 8px"
  >
    <tr>
      <td align="center" style="padding: 20px">
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
          alt="User Image"
          style="display: block; width: 200px; height: auto; border-radius: 8px"
        />
      </td>
    </tr>
    <tr>
      <td
        align="center"
        style="padding: 10px; font-size: 12px; font-weight: 400"
      >
        This is the commitment text
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 10px">
        <img
          src="https://w7.pngwing.com/pngs/895/900/png-transparent-electronic-signature-signature-miscellaneous-angle-white-thumbnail.png"
          alt="Signature"
          style="display: block; width: 100px; height: auto; color: white"
        />
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 10px; font-size: 12px">
        <strong>David Kumar</strong><br />
        Flutter Developer
      </td>
    </tr>
  </table>

  <footer>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/rdia-33ace.firebasestorage.app/o/template%2Ffooter.png?alt=media"
      alt="Footer Banner"
      style="
        display: block;
        max-width: 100%;
        width: 600px;
        height: auto;
        margin: 20px 0 0;
      "
    />
  </footer>
</div>
