@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: rgba(214, 239, 255, 0.5);
  min-width: 320px;
  max-width: 320px;
  border-radius: 16px;
  box-shadow: 10px 10px 10px rgba(223, 223, 223, 0.6);
  margin-bottom: 100px;
}

.product-image {
  background-color: white;
  border-radius: 16px;
  height: 320px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(214, 239, 255);
  margin-bottom: 20px;
}

.product-image img {
  margin-top: 50px;
  height: 300px;
  transition: transform 0.5s ease-in-out;
}

.product-image:hover img {
  transform: scaleX(1.1) scaleY(1.1) translateX(-10px) translateY(-10px);
}

.product-title {
  font-weight: 500px;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-type {
  color: rgb(37, 160, 255);
  margin-bottom: 20px;
}

.product-price-data {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.percentage {
  padding: 6px 12px;
  background-color: red;
  color: white;
  border-radius: 4px;
  margin-right: 16px;
}

.price {
  color: rgb(37, 160, 255);
  font-size: 22px;
  font-weight: 500;
  margin-right: 5px;
}

.product-card button {
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(0, 102, 255);
  border: none;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  justify-content: center;
  border: 1px solid rgb(0, 102, 255);
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-text {
  display: inline-block;
  font-size: 18px;
  font-weight: 600px;
}
.product-card button i {
  font-size: 24px;
}

.product-card button:hover {
  background-color: white;
  color: rgb(0, 102, 255);
}
